<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.deevs.syncthing</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ .chezmoi.homeDir }}/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/syncthing</string>
    <string>serve</string>
    <string>--no-browser</string>
    <string>--no-restart</string>
    <string>--no-upgrade</string>
    <string>--log-file=default</string>
    <string>--log-max-size=10485760</string>
    <string>--log-max-old-files=3</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/dev/null</string>
  <key>StandardErrorPath</key>
  <string>/dev/null</string>
</dict>
</plist>
